img {
    position: relative;
    margin-top: 200px;
    width: 430px;
    transition: width 1s;
}
img:hover {
    animation:shake .1s infinite;
}
@keyframes shake {
    from {transform:rotate(-2deg)}
    to {transform:rotate(2deg)}
}
h1 {
    color: white;
    text-align: center;
    margin-bottom: 150px;
}
p {
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.context {
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    opacity: 0;
}