.labmem {
    padding-top: 50px;
}
.mem {
    transition: opacity 0.2s;
    max-height: 1200px;
    visibility: hidden;
}
.mem:hover {
    opacity: 0.7;
    cursor: pointer;
}
.people {
    float: right;
    margin-right: 150px;
    background-image: url('../images/h1.jpg');
    background-repeat: no-repeat;
    width: 540px;
    height: 200%;
    z-index: -100;
}
.intro {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -60px;
    padding: 100px;
    background-color: white;
    z-index: 10;
    transition: opacity .5s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.closeIcon {
    position: absolute;
    right: 1em;
    margin-top: -50px;
    cursor: pointer;
}
.fullname, .desc {
    visibility: hidden;
}
@media screen and (min-width: 840px) and (max-width: 1223px) {
    .fullname {
        font-size: 32px;
    }
    .people {
        margin-right: 0px;
    }
}
@media screen and (min-width: 1224px) {
    .fullname {
        font-size: 64px;
    }
}
@media screen and (max-width: 839px) {
    .fullname {
        font-size: 32px;
    }
    .people {
        
        position: absolute;
        top: 400px;
        left: 0px;
        margin-right: 0;
        width: 100%;
    }
}